@inject SignInManager<Users> SignInManager
@model MainProjectFull.ViewModel.ExperienceVM
<main>
    @await Html.PartialAsync("_Cover", Model.Cover)
    <!--=============================== Partial view area ===================================-->
    <!-- Main section -->

    <div id="partials" data-profile="@Model.Profile.id">
        @await Html.PartialAsync("_Experience", Model)
    </div>
    <!--=============================== Partial view area ===================================-->
</main>
<script>
    $(".profile-navbar .ul-menu li").removeClass('active');
    $(".profile-navbar .ul-menu li#Experience").addClass('active');
</script>

@await Html.PartialAsync("_AjaxSections")

@section Styles{
    <link rel="stylesheet" href="~/css/profile/main.css">
    <link rel="stylesheet" href="~/css/profile/cv.css">
    <link rel="stylesheet" href="~/css/profile/cvmedia.css">
}