
<main class="register">
    <!-- ########################## PARTIAL VIEW START ###################  -->

    <article>
        <section class="register-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 left-side">
                        <h3> Yeni codefolio yarat </h3>

                        <form action="" method="">
                            <!-- Name surname -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-portrait"></i> </div>
                                </div>
                                <input type="text" class="form-control mr-2" id="" placeholder="Adınız">

                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-portrait"></i> </div>
                                </div>
                                <input type="text" class="form-control" id="" placeholder="Soyadınız">
                            </div>

                            <!-- Email -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-at"></i> </div>
                                </div>
                                <input type="text" class="form-control" id="" placeholder="Emailiniz">
                            </div>

                            <!-- Password -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> <i class="fas fa-lock"></i> </div>
                                </div>
                                <input type="password" class="form-control" id="" placeholder="Şifrəniz">
                            </div>

                            <!-- Data of bith -->
                            <div class="input-group">
                                <select name="year" id="year" class="form-control"></select>

                                <select name="month" id="month" class="form-control"></select>

                                <select name="day" id="day" class="form-control"></select>
                            </div>

                            <!-- Gender -->
                            <div class="input-group form-control">
                                <div class="custom-radio">
                                    <input type="radio" name="gender" class="" id="female">
                                    <label for="female">Qadın</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" name="gender" class="" id="male">
                                    <label for="male">Kişi</label>
                                </div>
                                <div class="custom-radio">
                                    <input type="radio" name="gender" class="" id="other">
                                    <label for="other">Qeyd edilməyib</label>
                                </div>
                            </div>

                            <!-- text about terms -->
                            <div class="our-terms">
                                Qeydiyyat düyməsini basmaqla siz bizim <a href="#">istifadəçi qaydalarını</a>
                                qəbul etmiş və öz ilkin məlumatlarınızı bizə göndərmiş olursunuz.
                                daha sonra profilinizi dizayn edib portfolionuzu yayımlaya bilərsiniz.
                            </div>

                            <input type="submit" value="Qeydiiyat" class="butt butt-success butt-big mt-4">
                        </form>
                    </div>
                    <div class="col-lg-6 right-side">
                        <h4> Codefolio.az dan qeydiyyatdan keç! </h4>

                        <p>
                            Codefolio saytında qeydiyyatdan keçməklə siz özünüzə şəxsi portfolio saytı
                            saytı yaratmış olursunuz. Öz zövqünüzə uyğun sayt dizaynı və rənglərdən istifadə
                            etməklə mükəmməl profil hazırlayın.
                            Həmçinin sevdiyiniz şəkildə öz CV.nizi hazırlayıb premium edə bilərsiniz.
                            <br>
                            <b>Yaradıcılıq sərhəd tanımır !</b>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- ########################## PARTIAL VIEW END ###################  -->
</main>
