<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/Admin/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <script src="~/Content/Admin/Content/vendor/jquery/jquery.min.js"></script>

    <!-- Custom styles for this template-->
    <link href="~/Content/Admin/Content/css/sb-admin.css" rel="stylesheet">

</head>
